/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
//@import "minima/fastpages-dracula-highlight"; 


.output pre {
    background-color: #ffffff;
    color: rgba(41, 41, 41, 0.603);
  }


.input pre{
  background-color: rgb(246, 246, 246);
  color: rgba(41, 41, 41, 0.603);
}




body {
  counter-reset: number 0;
  background: #ffffff;
  padding: 0 20px !important;
}

.site-header {
  border: none !important;
  width: 100vw; 
  background-color: white;
  position: fixed;
  top: 0;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper {
  margin: 0 !important;
  padding: 0 !important;
}

.site-title:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.page-content {
  /* background: #ffffff;
  border-radius: 12px;
  padding: 20px 20px !important; */
  max-width: 100%;
  width: 800px;
  margin: 20px auto 0;
}

.post-title.p-name {
  margin: 20px 0 !important;
  font-size: 35px !important;
  font-weight: 700 !important;
}

.page-content h1 {
 border-bottom: solid 3px rgb(54, 53, 53);
}




.page-content p {
  font-size: 16px !important;
  line-height: 1.5;
}
.site-footer {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.home p img {
  width: 120px;
  height: 120px;
}

.post-list li {
  background: #ffffff;
  border-radius: 4px;
  font-size: 15px;
  margin: 12px 0 !important;
  padding: 20px;
}

#posts {
  display: none;
}

.highlighter-rouge .highlight {
    background: rgb(246, 246, 246);
}


tt, code {
  background-color: rgb(246, 246, 246);
}

.post-content p, .post-content li {
  font-size: 16px;
  color: #515151;
}